<a href="https://colab.research.google.com/github/afurkancinar/Statistic/blob/main/us_public_food_assistance_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
os.environ['KAGGLE_CONFIG_DIR'] ="/content/gdrive/MyDrive/Colab Notebooks/kaggle"

In [ ]:
%cd /content/gdrive/MyDrive/Colab Notebooks/kaggle

/content/gdrive/MyDrive/Colab Notebooks/kaggle

In [ ]:
!kaggle datasets download -d jpmiller/food-security

Downloading food-security.zip to /content/gdrive/MyDrive/Colab Notebooks/kaggle
  0% 0.00/406k [00:00<?, ?B/s]
100% 406k/406k [00:00<00:00, 44.3MB/s]

In [ ]:
!unzip \*.zip && rm *.zip

Archive:  food-security.zip
  inflating: SNAP_FY2010_FY2020/FY10.xls
  inflating: SNAP_FY2010_FY2020/FY11.xls
  inflating: SNAP_FY2010_FY2020/FY12.xls
  inflating: SNAP_FY2010_FY2020/FY13.xls
  inflating: SNAP_FY2010_FY2020/FY14.xls
  inflating: SNAP_FY2010_FY2020/FY15.xls
  inflating: SNAP_FY2010_FY2020/FY16.xls
  inflating: SNAP_FY2010_FY2020/FY17.xls
  inflating: SNAP_FY2010_FY2020/FY18.xls
  inflating: SNAP_FY2010_FY2020/FY19.xls
  inflating: SNAP_FY2010_FY2020/FY20.xls
  inflating: SNAP_history_1969_2019.csv

In [ ]:
!ls

dataset.csv			  SNAP_FY2010_FY2020
fastfood.csv			  SNAP_history_1969_2019.csv
kaggle.json			  Womens_Boston_Marathon_Winners.csv
Mens_Boston_Marathon_Winners.csv

In [ ]:
df = pd.read_csv('SNAP_history_1969_2019.csv')

In [ ]:
df.head()

,Fiscal Year,Average Participation,Average Benefit Per Person,Total Benefits(M),Other Costs,Total Costs(M)
0,1969,"2,878",6.63,228.80,21.70,250.50
1,1970,"4,340",10.55,549.70,27.20,576.90
2,1971,"9,368",13.55,"1,522.70",53.20,"1,575.90"
3,1972,"11,109",13.48,"1,797.30",69.40,"1,866.70"
4,1973,"12,166",14.60,"2,131.40",76.00,"2,207.40"